body {
  background: #212121;
  padding: 20px;
  font-family: "Microsoft JhengHei UI";
}



#app {
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  transition: all 0.2s;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h2 {
  font-weight: bold;
  font-size: 37px;
  color: white;
}

.taskNumber {
  font-size: 28px;
  color: #00cc6f;
  margin-bottom: 70px;
}

.done {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: line-through;
}

.searchBarDiv {
  background-color: white;
  margin-top: 5vw;
  margin-bottom: 2vw;
  width: 340px;
  display: flex;
  border-radius: 20px;

}

.searchBar {
  border: none;
  border-radius: 20px;
  text-align: center;
  height: 40px;
  width: 300px;
  font-size: 20px;

}
.searchButton {
  background-image: url("../public/img/search.png");
  background-color: white;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

.delete {
  background-image: url("../public/img/delete.png");
  margin-left: 3vw;
  background-color: #d31a1a;
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 16px;
  width: 32px;
  height: 32px;
}

.order {
  margin-left: 5px;
}

.up {
  background-image: url("../public/img/uparrow.png");
  background-color: #3b3bee;
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 16px;
  width: 32px;
  height: 32px;
}

.down {
  background-image: url("../public/img/downarrow.png");
  background-color: #3b3bee;
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 16px;
  width: 32px;
  height: 32px;
}

.taskList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

li {
  background-color: #e8e7e7;
  margin-bottom: 2vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 2vw;
  padding: 2vw;
  width: 400px;
}

span {
  width: 100%;
  font-size: 14px;
  font-weight: bold;
}

.checkBox {
  transform: scale(2);
  margin-right: 3vw;
  margin-left: 2vw;
}

.orderDiv {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.inputAddTask {
  border: none;
  border-radius: 20px;
  text-align: center;
  height: 25px;
  width: 200px;
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.buttonAddTask {
  background-image: url("../public/img/plus.png");
  background-color: #2dd31a;
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 16px;
  width: 32px;
  height: 32px;
}